<div class="form">
  <%= form_for(@task) do |form| %>
    <%= form.label :title, "Task:" %>
    <%= form.text_field :title %>
    <%= form.label :details, "Details:" %>
    <%= form.text_field :details %>
    <% if @new %>
      <%= form.check_box :completed %>
      <%= form.label :completed, "Mark as complete" %>
    <% end %>
    <%= form.submit %>
  <% end %>
</div>
